.Login__container{
    background-color:#FFFFFF;
    height: 90vh;
    width: 70vw;
    box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.34);
    display: grid;
    place-items: center;
    padding: 30px;
}
.Login__container p{
    font-size: 25px;
    letter-spacing: 2px;
    text-align: left;
}
.Login__container button{
    text-transform : inherit !important;
    background-color:white ;
    color:rgb(42,152,138);
    width: 400px;
}
.Login__container button:hover{
    background-color:rgb(42,152,138);
    color:white;
}
