@font-face {
  font-family: myFirstFont;
  src: url(./fonts/HelveticaNeue Light.ttf);
}
*{
  margin:0px;
  font-family: myFirstFont , sans-serif ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.8px;
}
*:focus {
  outline: none;
}
*::selection {
  background-color:lightblue;
}